body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 55px;
}
span{
    color: orange;
}
.top-para-font{
    font-size: 20px;
    color: gray;
    padding-bottom: 60px;
}
.top-banner{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 1%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-right: 10px;
}
.half-width img{
    padding-left: 65px;
    width: 80%;
}
.button{
    text-decoration: none;    
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 1000px;
    border-radius: 60px;
    padding: 10px 30px;
    margin-top: 1000px;
}
.second-banner{   

    padding-top: 135px;   
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: right;

}
.about-me-font{
    color: gray;
}
.second-Para-font{
    font-size: 20px;
    padding-top: 3px;
    padding-right: 60px;
    padding-bottom: 90px;
}
.half-width-pic{
    margin-left: 5%;  
    width: 80%;
}
.third-banner h1{
    text-align: center;
    color: gray;
}
.third-banner p{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.fourth-banner{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.receipe-item{    
    width: 50%;
    height: 40%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    margin-left:2.5%;
    margin-right: 2.5%;
    border-radius: 10px;
    box-shadow:1px 1px 20px gray;
    display: inline;
    
}
.receipe-item img{    
    width: 90%;
    height: 90%;
}
.social-box{
    margin-left: 5%;
    margin-right: 5%; 
}
.social-icon{
    padding-left: 13%;  
}
.social-icon img{
    margin-bottom: 0px;
    padding-bottom: 5px;
}
#instagram{
    padding-left: 22%;
}
#dribble{
    padding-left: 22%;
}
.footer{
    padding-top: 16px;
    height: 200px;
    background-color: black;
}
.footer div{
    text-align: center;
}
.footer span{
    color: rgb(189, 73, 19);
    
}
.footer h2{
    padding-bottom: 0px;
    font-size: 40px;
    color: gray;
}
.footer p{
    color: white;
}